<table>
<thead><tr><th>Type</th><th>Name</th><th>Default Value</th></tr></thead>
<tbody>
<tr>
<td>

`map(string)`

</td>
<td>additional_tags</td>
<td>

`{}`

</td>
</tr>
<tr>
<td colspan="3">

Additional tags for the S3 bucket

**Since:** v1.0.0

</td>
</tr>
<tr>
<td>

<code>list(object(<a href="#">CorsConfiguration</a>))</code>

</td>
<td>cors_configurations</td>
<td>

`null`

</td>
</tr>
<tr>
<td colspan="3">

Configures [cross-origin resource sharing (CORS)](#)

**Since:** v1.0.0

</td>
</tr>
</tbody>
</table>
