{{define "doc_summary"}}
    {{- if .Description}}
        {{- .Description}}
    {{- end}}

    {{if .Attributes}}
        {{- range .Attributes}}
            {{- indent 0 ""}}**{{.Name}}:** {{.Content}}
        {{end}}
    {{- end}}
{{end}}

{{define "table" -}}
    {{ template "doc_summary" . -}}

    <table><thead><tr><th>Type</th><th align="left" width="100%">Name</th><th>Default&nbsp;Value</th></tr></thead><tbody>
        {{range .Rows -}}
            {{template "table_row" . -}}
        {{ end -}}
    </tbody></table>
{{- end}}

{{define "table_row" -}}
<tr>
    <td>
        {{- if .ComplexType -}}
            <code>
                {{- index .GetParentType 0 -}}
                <a href="#{{.GetAnchor}}">{{.ComplexType}}</a>
                {{- index .GetParentType 1 -}}
            </code>
        {{- else -}}
            <code>{{.Type}}</code>
        {{- end -}}
    </td>
    <td width="100%">{{.Name}}</td>
    <td>{{if .DefaultValue}}<code>{{.DefaultValue}}</code>{{end}}</td>
</tr>
<tr><td colspan="3">

{{template "doc_summary" .}}

</td></tr>
{{end}}

## Inputs

### Required

{{template "table" .RequiredInputs}}

### Optional

{{template "table" .OptionalInputs}}

### Objects

{{range $key, $input := .NestedInputs}}

#### {{$key}}

{{template "table" $input}}

{{end}}
