{{define "table" -}}
<table>
<thead><tr><th>Type</th><th align="left" width="100%">Name</th><th>Default&nbsp;Value</th></tr></thead>
<tbody>
{{range .Rows -}}
    {{template "table_row" .}}
{{- end}}
</tbody>
</table>
{{- end}}

{{define "table_row"}}
<tr>
    <td><code>{{.Type}}</code></td>
    <td width="100%">{{.Name}}</td>
    <td>{{if .DefaultValue}}<code>{{.DefaultValue}}</code>{{end}}</td>
</tr>
<tr>
<td colspan="3">

{{.Description}}

{{range .Attributes}}

**{{.Name}}:** {{.Content}}

{{end}}

</tr>
{{end}}

## Required

{{template "table" .RequiredInputs}}

## Optional

{{template "table" .OptionalInputs}}

## Objects

{{range $key, $input := .NestedInputs}}

### {{$key}}

{{template "table" $input}}

{{end}}
